body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
}

.player-card {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  transition: transform 0.2s;
}

.player-card:hover {
  transform: scale(1.03);
  background-color: #f7f7f7;
}

.player-card img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

#details img {
  width: 160px;
  border-radius: 12px;
  object-fit: cover;
}

#add-form {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 12px;
  max-width: 350px;
}

input {
  width: 75%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #999;
}

button {
  background-color: #4caf50;
  padding: 8px 14px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}
